<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uk.ac.aber.guidedwalk.android"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-library android:name="com.google.android.maps" />

    <uses-sdk android:minSdkVersion="10" />
    <uses-sdk android:targetSdkVersion="15" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:icon="@drawable/ic_launcher_cardigan"
        android:label="@string/app_name" >
        <uses-library android:name="com.google.android.maps" />

        <activity
            android:name=".Menu"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="uk.ac.aber.guidedwalk.android.MENU" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MapScreen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="uk.ac.aber.guidedwalk.android.DISPLAYMAP" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WalkList"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="uk.ac.aber.guidedwalk.android.WALKLIST" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DownloadList"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="uk.ac.aber.guidedwalk.android.DOWNLOADLIST" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".About"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="uk.ac.aber.guidedwalk.android.ABOUT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Splash"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Preferences"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="uk.ac.aber.guidedwalk.android.PREFERENCES" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>